## Umbraco CMS
##

# Dont commit Umbraco TEMP folder containing Examine Indexes, NuCache etc
**/umbraco/Data/TEMP/

# Umbraco log files
**/umbraco/Logs/

# JSON schema files for appsettings.json
appsettings-schema.json
appsettings-schema.*.json

**/App_Plugins/*
!**/App_Plugins/MyCustomDashboard
!**/App_Plugins/FavouriteThings
